
body{
    background-image: url("graphicforwebsite2.jpg");
    background-repeat: no-repeat;
    background-size: 50% 100%;
    background-color: #f2e4d8 ;
    margin: 0px;
}
.wrapper{
    display: flex;
}