
nav{
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  font-family: 'Krub', sans-serif;
}

ul{
  display: flex;
  list-style-type: none;
  padding: 0;
  
}


nav ul li a {
  font-size: 24px;
  color: #59362E;
  text-align: center;
  padding: 30px 16px;
  text-decoration: none;
  font-family: 'Krub', sans-serif;
  
}
nav ul li ul {
  display: none;
  flex-direction: column;
  position: absolute;
  background-color: white;
  padding: 10px;
  z-index: 100;
}

li a:hover {
  background-color: #bf8885;
  opacity: 62%;
}

.active {
  background-color: #bf8885;
  text-decoration: underline;
  color: #59362E;
}

nav ul li:hover ul {
  display: flex;

}
nav ul li ul li a:hover {
  background-color:  #bf8885;
}